{% extends "layout.html" %}
{% load static from staticfiles %}
{% block content %}
<body>
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'projects:applications' %}">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:profile' %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <a class="button icon-on-left" href="{% url 'accounts:edit' %}">Edit</a>
        <a class="button icon-on-left" href="{% url 'accounts:change_avatar' %}">Change Avatar</a>
          <a class="button icon-on-left" href="{% url 'accounts:change_skills' %}">Add Skills</a>
      </div>
    </div>

    <div class="grid-70">
      <h1>{{ user.username }}'s Profile</h1>
        <h3> {{ user.first_name }} {{user.last_name }}</h3>
      <div class="circle--article--body">
          <p>Contact Email: {{ user.email }}</p>



        <p></p>
      </div>
    <a class="button icon-on-left" href="{% url 'projects:new_project' %}">Create Project</a>
        <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          {% if projects %}
          <ul class="circle--link--list">
            {% for project in projects %}
            <tr class="clickable-row" data-href="{% url 'projects:project_detail' project_pk=project.id %}">
             {% endfor %}
           {% else %}
               <p>There are none</p>
            {% endif %}
              <td class="circle--cell--right">
        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <div class="circle--primary--avatar">
          {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}">
          {% else %}
            <ul>No Avatar</ul>
          {% endif %}
        </div>
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="unloaded">
            {% if profile.skills %}
              <ul>{{ profile.skills }}</ul>
            {% else %}
              <td>None</td>
            {% endif %}
        </ul>
      </div>
      <div class="circle--secondary--module">
        <h4>My Projects</h4>
      {% if projects %}
        <ul class="circle--link--list">
          {% for project in projects %}
            <li><a href="{% url 'projects:project_detail' project_pk=project.id %}">{{ project.title }}</a></li>
          {% endfor %}
       {% else %}
          <p>There are none</p>
       {% endif %}
        </ul>
      </div>
    </div>

  </div>
</body>
{% endblock content %}