{% extends "layout.html" %}
{% block content %}


  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="{% url 'projects:applications' %}">Applications</a></li>
        <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <a href="{% url 'projects:applications' %}">All Applications</a>
        </ul>
         <ul class="circle--filter--list">
          <a class="selected" href="{% url 'projects:accepted_applications' %}">Accepted</a>
           <p></p>
          <a href="{% url 'projects:rejected_applications' %}">Rejected</a>
        </ul>
      </div>
    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th class="circle--cell--right">Applicant Position</th>
          </tr>
        </thead>
        <tbody>
          {% if application %}
            {% for application in application %}
              {% if application.status == 'a' %}
              <td><h3><a href="">{{ application.id }}</a></h3>
              <td class="circle--cell--right"><span class="secondary-label"></span>
              <h3>{{ application.position }}</h3>
              <td class="circle--cell--right"><span class="secondary-label"></span>
              <a href="{% url 'projects:accept_reject' app_pk=application.pk status='accepted' %}"></a>
              <a href="{% url 'projects:accept_reject' app_pk=application.pk status='rejected' %}"></a>
              {% endif %}
              </tr>
            {% endfor %}
          {% else %}
            <p>You have not approved any applications</p>
          {% endif %}
        </tbody>
      </table>

    </div>

  </div>
</body>
</html>
{% endblock %}