{% extends "layout.html" %}
{% block content %}


  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'projects:applications' %}">Applications</a></li>
        <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a class="selected">All Applications</a></li>
          <li><a>New Applications</a></li>
          <li><a>Accepted</a></li>
          <li><a>Rejected</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th class="circle--cell--right">Applicant Position</th>
          </tr>
        </thead>
        <tbody>
          {% if applicants %}
          <h3>FOUND APPLICANT</h3>
            {% for application in applications %}
          <tr class="clickable-row" data-href="profile.html">
            <td>
              <h3>FOUND APPLICANT</h3>
              <p></p>
              <td class="circle--cell--right">
                            <span class="secondary-label"></span>
            </td>
          </tr>
            {% endfor %}
          {% else %}
            <p>No one has applied to any positions</p>
          {% endif %}
        </tbody>
      </table>

    </div>

  </div>
</body>
</html>
{% endblock %}