{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}

  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Projects</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        {% if user.is_authenticated %}
        <a class="button button-primary icon-on-left" href="{% url 'projects:new_project' %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13 13" style="enable-background:new 0 0 13 13;" xml:space="preserve" class="add">
            <polygon points="7,6 7,0 6,0 6,6 0,6 0,7 6,7 6,13 7,13 7,7 13,7 13,6 "/>
          </svg>
          New Project
        </a>
        {% endif %}
      </div>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
          <li><a class="selected">All Needs</a></li>
          <li><a href="">Android Developer</a></li>
          <li><a href="">Designer</a></li>
          <li><a href="">Java Developer</a></li>
          <li><a href="">PHP Developer</a></li>
          <li><a href="">Python Developer</a></li>
          <li><a href="">Rails Developer</a></li>
          <li><a href="">WordPress Developer</a></li>
          <li><a href="">iOS Developer</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

    </div>
  </div>
  </div>
{% endblock %}